<div class="card-detail-container">

    
    <div class="card">
        <div class="card-header">
                <h4 class="referencia-title">Referencia A1180</h4>
                <h3 class="order-title">
                    Order #7804GNZ
                </h3>
        </div>
        <div class="card-body">
            <div class="item">
                <img src="trailer.png" alt="" class="yellow-circle">
                <div class="detail-section">
                    <h5 class="name">PICKUP</h5>
                    <h3 class="state">NEW YORK</h3>
                    <h4 class="direction">1789 NJ, EDISO, 8943 sdfsdfsdfsdfsdf...</h4>
                    <div class="status">
                        <img src="blue-circle.png" class="intransit-img">
                        <span>
                            Accepted
                        </span>
                    </div>
                </div>
            </div>
            <img src="line.png"class="line-icon">
            <div class="item pin">
                <img src="black-circle-2.png" alt="" class="black-circle">
                <div class="detail-section">
                    <h5 class="name">DROPOFF</h5>
                    <h3 class="state">NEW YORK</h3>
                    <h4 class="direction">1789 NJ, EDISO, 8943 ...</h4>
                    <div class="status">
                        <img src="gray-circle.png" class="intransit-img">    
                        <span>
                            On hold
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
