<div class="card-process-container">
    <div class="card">
        <img src="BEGO.png" alt="" class="img-avatar">


        <h1 class="text-time">10:30 PM</h1>
        <div class="checks-container">
            <img src="check-yellow.svg" class="check-created">
            <img src="check-yellow.svg" class="check-accepted">
            <img src="check-yellow.svg" class="check-pickup-set">
            <img src="check-none.svg" class="check-pickup-complete">
            <img src="line-yellow.svg" class="line-yellow">
            <img src="line.png" class="line-gray">
        </div>
        <div class="texts-container">
            <h1 class="text-created">Created Order</h1>
            <h1 class="text-accepted">Accepted Order</h1>
            <h1 class="text-pickup-set">Pickup set up by William</h1>
            <h1 class="text-pickup-complete">Pickup Completed</h1>
        </div>
        <app-btn-complete/>
    </div>
</div>