.card-process-container {
    width: 360px;
    height: 336px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.card{
    background-color: #0f1316;
    margin:0 auto;
    width: 360px;
    height: 493px;
    border-radius: 20px;
    border: 1px solid gray;
}

.img-avatar {
    box-sizing: border-box;
    position: relative;
    width: 90px;
    height: 89.25px;
    right: -137px;
    bottom: 49.88px;
    border: 8px solid #1B2024;
    border-radius: 206px 208px 190px 190px;
}

.check-created {
    position: relative;
    width: 28.3px;
    height: 28.3px;
    left: -30px;
    top: 100px;
    z-index: 1;
}

.text-created {
    position: relative;
    left: -30px;
    top: 100px;
    height: 18px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 15.4px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #EDEDED;
}
.check-accepted {
    position: relative;
    width: 28.3px;
    height: 28.3px;
    left: -58px;
    top: 145px;
    z-index: 1;
}

.text-accepted {
    position: relative;
    left: -30px;
    top: 115px;
    height: 18px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 15.4px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #EDEDED;
}
.check-pickup-set {
    position: relative;
    width: 28.3px;
    height: 28.3px;
    left: -86px;
    top: 190px;
    z-index: 1;
}

.text-pickup-set {
    position: relative;
    left: -30px;
    top: 132px;
    height: 18px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 15.4px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #EDEDED;
}

.check-pickup-complete {
    position: relative;
    width: 28.3px;
    height: 28.3px;
    left: -115px;
    top: 235px;
    z-index: 1;
}

.text-pickup-complete {
    position: relative;
    left: -30px;
    top: 148px;
    height: 18px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 15.4px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #EDEDED;
}

.line-yellow {
    position: relative;
    width: 28.3px;
    height: 95.3px;
    left: -143px;
    top: 185px;
}

.line-gray {
    position: relative;
    height: 22.3px;
    left: -158px;
    top: 210px;
    width: 2px;
}

.text-time {
    height: 21px;
    right: 139px;
    bottom: 332px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 19.9px;
    line-height: 27px;
    color: #EDEDED;
    text-align: center;
    margin: 0;
}

.checks-container {
    position: relative;
    right: -89px;
    top: -117px;
}
.texts-container {
    position: relative;
    right: -130px;
    top: -153px;
}


