
.btn-left {
    width: 199px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFEE00;
    box-shadow: inset -4px -4px 4px #C2B500;
    backdrop-filter: blur(35px);
    border-radius: 0px 30px 30px 19px;
    color: black;
    &:disabled {
        color: white;
        background: #111316 ;
        box-shadow: inset -4px -4px 4px #111316cb;
    }
}
/* Start pickup in */
.start-pickup-in{
    width: 127.39px;
    height: 18px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13.3px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    span {
        color: #fffc05;
        margin-left: 5px;
    }
   
}