.collapse-container {
    width: 350px;
    height: 336px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.btn-collapse {
    position: absolute;
    top: 200px;
    box-sizing: border-box;
    background: linear-gradient(66.07deg, rgba(8, 12, 15, 0.5) 5.1%, rgba(85, 85, 85, 0) 100%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    width: 362px;
    height: 72px;
    padding: 20px;
}

.text-button{
    width: 90px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15.2px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #EDEDED;
}

.arrow-up {
    position: relative;
    left: 316px;
    top: 227px;
}
.detail{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 15.3px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #EDEDED;
}

.content-detail {
    position: absolute;
    width: 291px;
    height: 45px;
    bottom: 139px;
    top: 270px;
}

.direction{
   
}

.date {

}

.time{

}

.tel{

}

.email {

}