/* Group 17 */

.card-order-container {
    width: 357px;
    height: 336px;
    margin: 0 auto;
}

.order-title{

    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17.3px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #EDEDED;
    span {
        margin-right: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 17.6px;
        line-height: 21px;
        display: flex;
        font-family: 'Inter';
        color: #969798;
    }

}

.card{
    background-color: #0f1316;
    margin:0 auto;
    width: 347.55px;
    height: 265.5px;
    border-radius: 20px;
    border: 1px solid gray;
}

.card-header {
    width: 347.55px;
    height: 51px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: max-content;
    }    
}

.ftl-img {
    width: 39.36px;
    height: 11.83px;
}

.text-icon {
    height: 18px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 15.5px;
    line-height: 21px;
    color: #EDEDED;
    margin-left: 10px;
}

.intransit-img{
    width: 10.03px;
    height: 10.03px;
    margin-right: 10px;
}
.text-status{
    height: 15px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 10.4px;
    line-height: 14px;
    color: #EDEDED;
}

.card-body{
/*     display: flex;
    align-items: center; */
    .line-icon{
        position: relative;
        width: 1px;
        height: 41px;
        left: 24px;
        top: -28px;
    }
    .item {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 346px;
        height: 84px;
        position: relative;

        &.pin {
    position: relative;
    top: -58px;        }
        .img-trailer {
            width: 26.58px;
            height: 17.68px;
        }

        .detail-section {
            .name{
                width: 37px;
                height: 13px;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 800;
                font-size: 7.9px;
                line-height: 11px;
                color: #535455;
                margin:0px;
            }
            .state{
                height: 17px;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 800;
                font-size: 15.5px;
                line-height: 21px;
                color: #EDEDED;
                margin:0px;
            }
            .direction{
                width: 189px;
                height: 18px;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 500;
                font-size: 12.6px;
                line-height: 17px;
                align-items: center;
                color: #909192;
                margin:0px;
                padding: 0;
                overflow: hidden;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .date-section {
            text-align: -webkit-right;
            .date{
                width: 51px;
                height: 15px;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 800;
                font-size: 10.6px;
                line-height: 14px;
                color: #696A6B;
                margin: 0px;
            }
            .time {
                width: 36px;
                height: 17px;

                font-family: 'Avenir';
                font-style: normal;
                font-weight: 500;
                font-size: 12.2px;
                line-height: 17px;
                color: #EDEDED;
                margin: 0px;
            }
        }
        .img-pin {
            width: 13.75px;
            height: 17.5px;
        }
    }
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -45.5px;
}








